<section>
  <h1 class="title">Carrinho</h1>
  @if(cartItems().length === 0) {
  <p>Sem produtos no carrinho!</p>
  } @else { @for(cartItem of cartItems(); track $index) {
  <ul>
    <li>
      <div class="cart-item">
        <div class="img-container">
          <img [src]="cartItem.image" alt="{{ cartItem.title }}" />
        </div>
        <div class="cart-content">
          <h2 class="title">{{ cartItem.title }}</h2>
          <p class="price">{{ cartItem.price | currency : 'BRL' : 'symbol' : '1.2-2' }}</p>
        </div>
        <button class="secondary" type="button" (click)="onRemove($index)">Excluir</button>
      </div>
    </li>
  </ul>

  } @if(cartTotalQuantity() > 1) {
  <h4>{{`Itens (${cartTotalQuantity()})`}}</h4>
  } @else {
  <h4>{{`Item (${cartTotalQuantity()})`}}</h4>
  }
  <h4>{{`Subtotal ${cartTotalPrice() | currency:'BRL':'symbol':'1.2-2'}`}}</h4>
  }
</section>
